* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background-color: #1E1E2F;
  color: hsl(0, 0%, 90%);
  padding: 0;
  margin: 0;
}